[Unit]
Description=Redis Node 7004
After=network.target
[Service]
ExecStart=/usr/bin/redis-server /etc/redis/7004/redis.conf --supervised systemd
ExecStop=/bin/redis-cli -h 127.0.0.1 -p 7004 shutdown
Type=notify
User=redis
Group=redis
RuntimeDirectory=/etc/redis/7004
RuntimeDirectoryMode=0755
LimitNOFILE=65535
[Install]
WantedBy=multi-user.target